-# frozen_string_literal: true
.container.h-100.d-flex.flex-column.justify-content-center.align-items-center#home
  %div#home-bg
    #home-bg-image
  %section.text-center#home-title
    %h1
      %i.fas.fa-hamburger
      DéjOboulot
    %p On mange quoi ce midi ?

  = link_to 'Lancer un vote', new_poll_path, class: 'btn btn-lg btn-primary'
