-# frozen_string_literal: true
<<<<<<< HEAD
-# frozen_string_literal: true
%H1
  %i.fas.fa-hamburger
  Hello
=======
.container.h-100.d-flex.flex-column.justify-content-center.align-items-center#home
  %div#home-bg
    #home-bg-image
  %section.text-center#home-title
    %h1
      %i.fas.fa-hamburger
      DéjOboulot
    %p On mange quoi ce midi ?
  = link_to 'Lancer un vote', '#', class: 'btn btn-lg btn-primary'
>>>>>>> 1202538... Add home page
